:root {
    --lr-dark-grey:           #262626;
    --lr-mid-grey:            #7E7E7E;
    --lr-light-grey:          #d9d9d9;
    --lr-orange:              #fa7004;
    --lr-black:               #000000;
    --lr-white:               #FFFFFF;
    --lr-blue:                #1768E2;
}

/* General Settings */
a{color: var(--lr-blue);}
a:visited{color: var(--lr-blue);}
a:hover{color: var(--lr-mid-grey);}
a:active{color: var(--lr-blue);}

/* Side Panel  */
.wy-side-nav-search{background-color: var(--lr-light-grey);} /* logo area background */
.wy-side-nav-search a{color: var(--lr-black);} /* home logo and name */

.wy-nav-top{background: var(--lr-blue);}
.wy-nav-side{background: var(--lr-light-grey);} /* menu background */

.wy-menu-vertical p.caption {
    color: var(--lr-blue);
    font-weight: bold;
}
.wy-menu-vertical a{color: var(--lr-blue);}
.wy-menu-vertical  a:active{background: var(--lr-blue);}

/* Note and warning top and backround */
.rst-content .note .admonition-title{background: var(--lr-blue);}
.rst-content .note {background: var(--lr-white);}
.rst-content .warning .admonition-title{background: var(--lr-orange);}
.rst-content .warning{background: var(--lr-orange);}

/* Background for code snippets */
.highlight{background: var(--lr-light-grey);}

/* Border and background for functions */
.rst-content dl:not(.docutils) dt{
    border-top-color: var(--lr-light-grey);
    background-color: var(--lr-light-grey);
    color: var(--lr-black);
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
       /* !important prevents the common CSS stylesheets from overriding
          this as on RTD they are loaded after this stylesheet */
       white-space: normal !important;
    }
 
    .wy-table-responsive {
       overflow: visible !important;
    }
 }
